h1{
    color: rgb(255, 209, 81);
    margin-left: 20px;
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: fit-content;
}
p{
    border: 2px red;
    padding: 22px;
}
img{
    width: 350px;
    height: 350px;
    margin-left: auto;
    margin-right: 0;
    display: block;
    margin-top: -200px;
   margin-bottom: 0px  ;
}

